; Kernel configuration file

; File for the keyboard layout
KBRD_MAP = KBRD_GER.MAP

; Color for text mode high nibble is background, low nibble foreground
TXT_COLOR = 0x06 ; black & amber

; Shell parameter
; Shell file name (loaded after kernel finishes setup)
SHELL        = SHELL.COM
; Parameter to give to the shell program
SHELL_PARAMS = -fallout_style, -snd, -lv=1, -keystroke, -fast ; -auto -match

; Graphics mode related stuff
; Font file to use for the graphics mode
FONT         = FONT_3X5.BIN
; Color for graphics mode (first byte is bg color, second byte is fg color)
;GFX_COLOR = 0x132a ; amber 1 on darker gray 
GFX_COLOR = 0x132b ; amber 2 on darker gray 
;GFX_COLOR = 0x1332 ; green 1 on darker gray 
;GFX_COLOR = 0x1333 ; green 2 on darker gray 
;GFX_COLOR = 0x1334 ; blue 1 on darker gray 
;GFX_COLOR = 0x1335 ; blue 2 on darker gray 

